<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Cadastro Usuarios</title>
    </head>
    <body>
        <table>
            <thead> 
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Telefone</td>
                    <td>Password</td>  
					<td>Data Cadastro</td>                                      
                </tr>
            </thead>
            <tbody>
                <tr th:each="umpac : ${listapac}">
                    <td th:text="${umpac.nome}"></td>
                    <td th:text="${umpac.email}"></td>
                    <td th:text="${umpac.telefone}"></td>
                    <td th:text="${umpac.password}"></td>
                    <td th:text="${umpac.dta_cadastro}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>


